defmt-ringbuf/target
defmt-ringbuf/Cargo.lock
defmt-ringbuf/defmt-ringbuf-test/target
defmt-ringbuf/defmt-ringbuf-test/Cargo.lock
defmt-ringbuf-offline/target
defmt-ringbuf-offline/Cargo.lock
openemc-bootloader/target
openemc-pack/target
openemc-firmware/target
openemc-shared/target
openemc-shared/Cargo.lock
/target
/image

openemc-driver/*.o
openemc-driver/*.o.d
openemc-driver/*.ko
openemc-driver/*.mod*
openemc-driver/*.cmd
openemc-driver/Module.symvers
openemc-driver/modules.order
openemc-driver/compile_commands.json
openemc-driver/emc.dtbo

devicetree/*.dtbo

/.test-host
/compile_commands.json

enqt*
pi_power_shield1*
