[Unit]
Description=OpenEMC Log
DefaultDependencies=no
Wants=dev-openemc.device
PartOf=systemd-journal-flush.service
After=dev-openemc.device systemd-journal-flush.service

[Service]
Type=simple
ExecStartPre=-openemc-log --bootloader
ExecStart=openemc-log

[Install]
WantedBy=basic.target
